body
{
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6
{
    font-family: serif;
    color: #212121;
}

p
{
    font-family: monospace;
}

article
{
    border: 1px solid; /* TODO(Jovan): Testing */
    min-height: 50vh;
    margin: 2px;
}

article .article-header h2, h3
{
    padding: 0;
    margin: 0;
}
article .article-header
{
    margin: 2% 0 0 2%;
}

article .article-header h3
{
   color: #909090;
   font-size: 0.6em; 
}
article p
{
    font-size: 1.3em;
    padding: 2%;
}

#header
{
    text-align: center;
    background-color: #fafafa;
    margin: 0 auto;
    width: 50vw;
}

#left-sidebar, #right-sidebar
{
    float: left;
    width: 25%;
}

#content
{
    background-color: #fafafa;
    float: left;
    width: 50%;
}

@media screen and (max-width: 800px)
{
    #left-sidebar, #right-sidebar, #content
    {
        width: 100%;
    }
}

#footer
{
    text-align: center;
    float: left;
    width: 100%;
}


.sticky
{
    position: fixed;
    top: 0;
    width: 100% !important;
    border-bottom: 1px solid;
    border-height: 1px;
}
